<html lang='en'>
  <head>
    <title>Old Skool Pool</title>
      <!--<link rel="stylesheet" href="/stylesheets/style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Old Skool Pool, guess the historic men's basketball tournament">
  <meta name="author" content="Tyler Geneva The Programmer">
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">


  </head>
  <body>
    <div id="round1" class='round'>

    </div>

    <div id="round2" class='round'>

    </div>

    <div id="round3" class='round'>

    </div>

    <div id="round4" class='round'>

    </div>

    <div id="round5" class='round'>

    </div>

    <div id="round6" class='round'>

    </div>


    <script type="text/javascript">


    var app = app || {};
    $.ajax({
      url: '/api/teams',
      success: function(data){
        app.teams = data;
      }  // success
    }); // ajax


    app.pickTeam = function (){
     $.ajax({
       url: '/api/seasons/random',  //pick a random year
       success: function(data){

         var round1 = [];
         var round2 = [];
         var round3 = [];
         var round4 = [];
         var round5 = [];
         var round6 = [];

         app.tourney = [];
         for (var selection in data) {   //loop through all the data
           var game = data[selection];
           game.team_a = findTeamById(game['team_a_id']);  //get team name
           game.team_b = findTeamById(game['team_b_id']);
           app.tourney.push(game);
           switch(game.round) {
            case 1:                //breaks out games into rounds
              round1.push(game);
            break;
            case 2:
              round2.push(game);
            break;
            case 3:
              round3.push(game);
            break;
            case 4:
              round4.push(game);
            break;
            case 5:
              round5.push(game);
            break;
            case 6:
              round6.push(game);
            break;
           }

           var rounds = [round1, round2, round3, round4, round5, round6];

         }
        //  console.log(round1);
        //  console.log(round2);
        //  console.log(round3);
        //  console.log(round4);
        //  console.log(round5);
        //  console.log(round6);

        //  console.log(app.tourney)

        //  for (var i = 0; i < app.tourney.length; i++) {
         //
        //    $('#bball').append(
        //      '<li>' + app.tourney[i].team_a + '</li>' + //appends all the games for a yr
        //      '<li>' + app.tourney[i].team_b + '</li><br>'
        //    )
        //  }
        console.log(rounds.length)
         for (var i = 0; i < rounds.length; i++) {
           var round = rounds[i];
           console.log(round.length)
           for (var n = 0; n < round.length; n++) {
             var game = round[n];               //get game matchups
             var html = $('<div><p>' + game.team_a + '</p><p>' + game.team_b + '</p></div>');
             html.addClass('game'); //add Class to games
             html.hide(); //makes games not shift as other games come in

             (function (){      //bring in round by round but delayed
               var locali = i+1;  //i+1 keeps the "#round1" as round1 and not round2 
               console.log("local i:"+locali)
               var localhtml = html;
               setTimeout(function(){
                 $('#round'+locali).append(localhtml);
                 localhtml.fadeIn(2000);
               }, (i*3000));
             })();

           }
         }


         //
         //
        //  for (var i = 0; i < round2.length; i++) {
         //
        //    $('#round2').append(
        //     $('<h1> ROUND Two </h1>' +
        //      '<li>' + round2[i].team_a + '</li>' + //appends all the games for a yr
        //      '<li>' + round2[i].team_b + '</li><br>'
        //     )
        //  ).hide().fadeIn(Math.random()*5000);
        //  }
         //
         //
        //  for (var i = 0; i < round3.length; i++) {
         //
        //      '#round3').append(
        //      $('<h1> ROUND Three </h1>' +
        //      '<li>' + round3[i].team_a + '</li>' +
        //      '<li>' + round3[i].team_b + '</li><br>'
        //     )
        //    ).hide().fadeIn(Math.random()*5000);
        //  }
         //
        //  for (var i = 0; i < round4.length; i++) {
         //
        //    $('#round4').append(
        //      '<h1> ROUND Four </h1>' +
        //      '<li>' + round4[i].team_a + '</li>' + //appends all the games for a yr
        //      '<li>' + round4[i].team_b + '</li><br>'
        //    )
        //  }
         //
        //  for (var i = 0; i < round5.length; i++) {
         //
        //    $('#round5').append(
        //      '<h1> ROUND Five </h1>' +
        //      '<li>' + round5[i].team_a + '</li>' + //appends all the games for a yr
        //      '<li>' + round5[i].team_b + '</li><br>'
        //    )
        //   }
        //    for (var i = 0; i < round6.length; i++) {
         //
        //      $('#round6').append(
        //        '<h1> ROUND Six </h1>' +
        //        '<li>' + round6[i].team_a + '</li>' + //appends all the games for a yr
        //        '<li>' + round6[i].team_b + '</li><br>'
        //      )
        //  }
        //  var t = app.tourney[0].team_a;
        //  $('li').append(t);
        //  var y = app.tourney[0].team_b;
        // $('li').append(y);

        //  console.log(app.tourney);
       }  // success
     }); // ajax
    }

    function findTeamById(id) {
      for (var team in app.teams) {
        if (app.teams[team].id == id) {
          return app.teams[team].name;
        }
      }
    }

     // When the doucment is ready
     $(document).ready(function(){
        setTimeout(app.pickTeam, 1000);
//         $('#round1').each(function(i) {
//
//    $(this).delay(Math.random()*500+500 ).fadeIn();
//
// });

      //  app.pickTeam().slideUp( 300 ).delay( 2000 ).fadeIn( 400 );
     })

 </script>
  </body>
</html>
