<html lang='en'>
  <head>
    <title>Old Skool Pool</title>
      <!--<link rel="stylesheet" href="/stylesheets/style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Old Skool Pool, guess the historic men's basketball tournament">
  <meta name="author" content="Tyler Geneva The Programmer">
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/app.js"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">


  </head>
  <body>
            <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon-tint"></span>
                  </a>
                  <a class="navbar-brand" href="#">Old Skool Pool</a>
                </div><!-- end navbar branding -->
                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="/">Guess the year of the NCAA men's basketball tournament</a></li>  <!-- add these links in -->
                    <!-- <li><a href="/">About</a></li>
                    <li><a href="/">Contact</a></li> -->
                  </ul>
                </div><!-- end navbar links -->
              </div>
            </nav>


            <div class="container">
              <!-- <header class="page-header">
                <h1> Guess the year of the NCAA men's basketball tournament</h1>

              </header> -->
              <div class="row">
              <article class="col-md-4">
                  <!-- <h2> Years are between 1985-1997</h2> -->
              </article>
              <article class="col-md-4">
                <form  action="localhost:9292/" method="POST">
                  <div align="center">
                  <br><br>
                  <input id="year" type="text" size="25" placeholder="Guess The Year 1985-1997">
                  <br><input id="guess" type="submit" value="Enter"><br>
                  </div>
                </form>
              </div>
              </article>
            </div>

              <div class="row">
                <article class="col-md-4">
                </article>

                  <article class="col-md-4">
                  <div class="results">  <!-- for the guess -->

                </article>
                  </div>
              </div>

<div class="container">
<section class="row" id="winner">
  <article class="col-md-1" id="round-1"></article>
  <article class="col-md-1" id="round-2"></article>
  <article class="col-md-1" id="round-3"></article>
  <article class="col-md-1" id="round-4"></article>
  <article class="col-md-1" id="round-5"></article>
  <article class="col-md-2" id="round-6"></article>
  <article class="col-md-1" id="round-8"></article>
  <article class="col-md-1" id="round-9"></article>
  <article class="col-md-1" id="round-10"></article>
  <article class="col-md-1" id="round-11"></article>
  <article class="col-md-1" id="round-12"></article>
</section>
</div>

<div id=""></div> <!-- for the clock -->

    <div class="bracket row">

      <article class="col-md-8">


    <div id="round1" class='round'></div>

    <div id="round2" class='round'></div>

    <div id="round3" class='round'></div>

    <div id="round4" class='round'></div>

    <div id="round5" class='round'></div>

    <div id="round6" class='round'></div>

      </article>
    </div>

    <div class="row" id="updated-bracket">
    </div>

</div>
</div> <!-- end container -->
  <script type="text/javascript">

  $(document).ready(function() {


  $( "#guess" ).click(function( event ) {   //guess function links to form
    event.preventDefault();
    var bball = $( "#year" ).val()
    if (bball == app.tourney[0].year) {
      $('.results').html('Correct').addClass('correct');
      // window.location.replace("http://cecelious.com/");
    } else {
      $('.results').html('Guess Again').addClass('wrong');
    }
  });

  $.ajax({
    url: '/api/teams',
    success: function(data){
      app.teams = data;
      app.pickTeam();
    }  // success
  }); // ajax

});

 </script>

 <footer class="container">
  <div class="footer">
    <h4>&copy 2015 ctylerg production</h4>
  </div>
</footer>
  </body>
</html>
