body {
  /*background-color: darkgrey;*/
  background-image: url("http://3.bp.blogspot.com/-fv5csmCQoTY/VRUckfJEqUI/AAAAAAAAEuE/ekj62eG6oe4/s1600/basketball-court-wallpapers-and-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /*margin: 0 0 20px;*/
}

#year {
  margin: 20px;
}
.bracket{
  min-height: 600px;
}

.round{
  display: inline-block;
  float: left;
  width: 10%;
  margin-left: 10px;
}
/*#round-1{
  display: inline-block;
  float: left;
  width: 10%;
  margin-left: 10px;
}
#round-3{
  display: inline-block;
  float: left;
  width: 10%;
  margin-left: 10px;
}
#round-3{
  display: inline-block;
  float: left;
  width: 10%;
  margin-left: 10px;
}
#round-4{
  display: inline-block;
  float: left;
  width: 10%;
  margin-left: 10px;
}
#round-5{
  display: inline-block;
  float: left;
  width: 10%;
  margin-left: 10px;
}*/


.game{
  background-color: lightblue;
  width: 80px;
}

.game > p{
  background-color: orange;
  border: 1px solid lightblue;
  text-align: center;
  width: 80px;
}
#round-6{
  display: inline-block;
  float: left;
  width: 10%;
  margin-left: 10px;
}
h1 {
  position: absolute;
  color: lightgrey;
}

/*h2 {
  position: relative;
}*/

.results {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  height: 40px;
  margin: 0 0 10px 0;
}

.wrong {
  color: red;
}

.correct {
  color: green;
}


.footer {
  color: white;
  text-align: center;

}
