body {
  background-color: lightblue;
}


.round{
  display: inline-block;
  float: left;
  width: 10%;
  margin-left: 10px;
}

.game{
  background-color: red;

}

.game > p{
  background-color: lightgreen;
  border: 1px solid red;
  text-align: center;
}
