*{
  box-sizing: border-box;
}

body {
  /*background-color: darkgrey;*/
  background-image: url("../images/bball_court.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /*margin: 0 0 20px;*/
}
.time{
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 20;
}
/*#clock{
  font-size: 20;
  color: blue;
}*/


#year {
  margin: 20px;
}
.bracket{
  min-height: 600px;
}

.round{
  display: inline-block;
  float: left;
  width: 10%;
  margin-left: 10px;
}

#round-1{
  text-align: center;
}
#round-2{
  text-align: center;
}
#round-3{
    text-align: center;
}
#round-4{
    text-align: center;
}
#round-5{
    text-align: center;
}
#round-6{
    text-align: center;
}
#round-7{
    text-align: center;
}
#round-8{
    text-align: center;
}
#round-9{
    text-align: center;
}
#round-10{
    text-align: center;
}
#round-11{
    text-align: center;
}
#round-12{
    text-align: center;
}

.game{
  background-color: lightblue;
  width: 80px;
}

.game > p{
  background-color: orange;
  border: 1px solid lightblue;
  text-align: center;
  width: 80px;
}

.container{
  width: 100% !important;
}
#round-6{
  display: inline-block;
  float: left;
  width: 10%;
}

section#winner article{
  width: 9% !important;
}
h1 {
  position: absolute;
  color: lightgrey;
}

/*h2 {
  position: relative;
}*/

.results {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  height: 40px;
  margin: 0 0 10px 0;
}



.correct {
  color: green !important;
}

.wrong {
  color: red;
}

.footer {
  color: white;
  text-align: center;

}
