body {
  /*background-color: darkgrey;*/
  background-image: url("http://3.bp.blogspot.com/-fv5csmCQoTY/VRUckfJEqUI/AAAAAAAAEuE/ekj62eG6oe4/s1600/basketball-court-wallpapers-and-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /*margin: 0 0 20px;*/
}


.bracket{
  min-height: 1000px;
}

.round{
  display: inline-block;
  float: left;
  width: 10%;
  margin-left: 10px;
}

.game{
  background-color: red;

}

.game > p{
  background-color: lightgreen;
  border: 1px solid red;
  text-align: center;
}

h1 {
  position: absolute;
  color: lightgrey;
}

h2 {
  position: relative;
}

.results {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  height: 20px;
}

.wrong {
  color: red;
}

.correct {
  color: green;
}


.footer {
  color: white;
  text-align: center;

}
